<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Blogs</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>
    <div class="content">
        {% for data in all_data %}
        <div class="card">
            <h2>{{data["title"]}}</h2>
            <p class="text">{{data["subtitle"]}}</p>
            <a href="{{url_for('post',num=data['id'])}}">Read</a>
        </div>
        {% endfor %}
    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Barrie.</p>
</footer>
</html>